div {
    height: 200px;
    width: 400px;
    background: white;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

h1 {
  font-family: "Courier New", "Times New Roman", Times, serif;
}

p {
  font-family: "Courier New", "Times New Roman", Times, serif;
}